.navbar{
    background-color: #f5f0f0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  .nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
  }
  
  .nav-logo{
    align-items: center;
    color: transparent;
    -webkit-text-stroke: 1px #000000;
  
    font-family: "Inconsolata", Helvetica;
    font-size: 10px;
    font-weight: 40;
    letter-spacing: 2px;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
  }
  .nav-logo img{
    position: relative;
    width: 150px;
    max-height: 100%;
    margin-left: 550px;
  }
  .nav-menu{
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }
  .center-logo img {
    position: relative;
    width: 150px;
    max-height: 100%;
    margin-left: -40px;
  }
  .navbar-dashboard{
    color: #fff;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 70px;
    position: relative; 
    z-index: 2;
    border-bottom: solid 0.1px #000;
    background-color: transparent;
  }
  .nav-links{
     color: #000000;
     padding: 0.5rem 1rem;
     height: 100%;
     list-style-type: none;
     text-decoration: none;
  }
  .nav-item{
    line-height: 40px;
    margin-right: 1rem;
  }
  .nav-item:after{
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item.active{
    text-decoration: underline;
  
  }
  .nav-icon{
    display:none ;
  }
  @media screen and (max-width:960px) {
    .nav-menu{
      display: none;
       flex-direction: column;
      width: 100%;
      border-top: 1px solid #fff;
      position: absolute;
      top: 80px;
      left: -110px;
      opacity: 1;
      transition: all 0.5s ease;
    }
    .nav-menu.active{
      background: #1f5156;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      display: flex;
      z-index: 1;
    }
    .nav-item.active{
      color: #000000;
    text-decoration: none;
      color: #ffdd40;
      border: none;
    }
    .nav-links{
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
    .nav-icon{
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%,60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #ffdd40;
    }
    .nav-logo img {
       height: 10px; 
      width: 10px; 
    }
    
    .nav-logo {
      display: flex;
      align-items: center;
      font-family: "Inconsolata", Helvetica;
      font-size: 1.2rem;
      font-weight: 20;
      letter-spacing: 2px;
      cursor: pointer;
      text-decoration: none;
      flex-grow: 1;
    }
    
  }