.feedback-container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background: linear-gradient(145deg, #f9f9f9, #897d7d);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-bottom: 50px;
  
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;}
.star {
  cursor: pointer;
  font-size: 24px;
  margin: 5px;
}

.star.selected {
  color: #ffdb58;
}

p {
  margin-top: 20px; 
  font-weight: bold;
}

.email-input {
  margin-top: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-input label {
  margin-bottom: 5px; }

.email-input input {
  width: 100%;
  padding: 10px;
  margin-top: 5px; 
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #b9b4b427;
}

button {
  margin-top: 20px; 
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.feed {
  background-image: url('https://images.pexels.com/photos/355770/pexels-photo-355770.jpeg');
  height: 100%;
  margin-top: -20px;
  width: 100%;
  background-color: #897d7d;
}
