
.donorsta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -70%; 
  margin-left: -7%;
}

.register-container label {
  display: block;
  font-weight: bold;
  margin-bottom: -16px;
  position: relative;
  padding: 3px;
}

.register-container input {
  padding: 6px;
  margin-bottom: 16px;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
}


.register-container button {
  padding: 10px 20px;
  background-color: #504f4c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.register-container button:hover {
  background-color: #fcb042;
}


@media screen and (max-width: 767px) {
  .donorsta-container {
    margin-top: -20%; 
  }
}


@media screen and (min-width: 768px) and (max-width: 971px) {
  .donorsta-container {
    margin-top: -15%; 
  }
}


@media screen and (min-width: 971px) and (max-width: 1024px) {
  .donorsta-container {
    margin-top: -10%; 
    margin-right: 12%; 
  }
}

@media screen and (min-width: 1024px) {
  .donorsta-container {
    margin-top: -5%; 
  }
}
.vol{
  background-image: url('https://images.pexels.com/photos/355770/pexels-photo-355770.jpeg');
    height: 100%;
    margin-top: -23px;
}

